@model MidStateShuttleService.Models.User

@{
    ViewBag.Title = "Account Details";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Register.css" />
<link rel="stylesheet" href="/css/TextInputField.css" />
<link rel="stylesheet" href="/css/HelpIcon.css" />

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>
    <div class="wrapper wrapper--w680">
        <div class="form form-1">
            <div class="form-body">
                <h2 class="title">Account Details</h2>

                <div class="input-fields">
                    <div class="form-group">
                        <label>Name:</label>
                        <p class="form-control-plaintext">@Model.FirstName @Model.LastName</p>
                    </div>

                    <div class="form-group">
                        <label>Phone Number:</label>
                        <p class="form-control-plaintext">@Model.PhoneNumber</p>
                    </div>

                    <div class="form-group">
                        <label>StudentId:</label>
                        <p class="form-control-plaintext">@Model.StudentId</p>
                    </div>

                    <div class="form-group">
                        <label>Email (Microsoft Account):</label>
                        @{
                            var email = User.FindFirst("email")?.Value
                            ?? User.FindFirst("preferred_username")?.Value
                            ?? User.Identity?.Name
                            ?? "N/A";
                        }
                        <p class="form-control-plaintext">@email</p>
                    </div>
                </div>

                <div class="p-t-20">
                    <a class="btn btn--radius btn--submit" asp-action="AccountSetup">Edit Account</a>
                </div>
            </div>
        </div>
    </div>
</body>